.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: var(--text-color-light);
}

.hero-content {
  max-width: 600px;
}

.hero-title {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.social-links a {
  margin: 0 1rem;
  color: var(--text-color-light);
  font-size: 2rem;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #61dafb;
}

.cta-button {
  background-color: #61dafb;
  color: #000000;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 2rem;
  display: inline-block;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 3rem;
  }

  .hero-subtitle {
    font-size: 1.2rem;
  }

  .social-links a .social-link-text {
    display: none; /* Hide text on small screens */
  }
}
