.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: var(--text-color-light);
}

.hero-content {
  max-width: 600px;
}

.hero-title {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.social-links a {
  margin: 0 1rem;
  color: var(--text-color-light);
  font-size: 2rem;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #61dafb;
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 3rem;
  }

  .hero-subtitle {
    font-size: 1.2rem;
  }
}
